django>=4.2
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
python-dotenv
django-cors-headers
Pillow
transformers
numpy
celery[redis]
redis
requests
openpyxl
reportlab
django-celery-beat
